/****** Object:  Table [dbo].[ApproachesSteps]    Script Date: 3/3/2024 9:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApproachesSteps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApproachName] [nvarchar](50) NULL,
	[ApproachId] [int] NULL,
	[StepName] [nvarchar](50) NULL,
	[StepId] [int] NULL,
	[StepDomainsId] [int] NULL,
	[StepCategoryId] [int] NULL,
	[StepDescription] [nvarchar](max) NULL,
	[StepDescriptionPromptPackage] [nvarchar](max) NULL,
	[StepCompletionCount] [int] NULL,
	[StepNextIfCompleteTrue] [int] NULL,
	[StepNextIfCompleteFalse] [int] NULL,
	[StepNextIfInconclusive] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_ApproachesSteps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ApproachesSteps] ON 

SET IDENTITY_INSERT [dbo].[ApproachesSteps] OFF
GO
ALTER TABLE [dbo].[ApproachesSteps] ADD  CONSTRAINT [DF_ApproachesSteps_CreatedDate]  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ApproachesSteps] ADD  CONSTRAINT [DF_ApproachesSteps_ModifiedDate]  DEFAULT (getutcdate()) FOR [ModifiedDate]
GO
